.button {
  all: unset;
  border-radius: var(--border-radius);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-1);
  padding: var(--size-1) var(--size-2) var(--size-1) var(--size-2);
  --button-bg: var(--background);
  background-color: var(--button-bg);
}
.button:hover {
  cursor: pointer;
  background-color: color-mix(in srgb, var(--button-bg), var(--body) 15%);
}
.button:focus-visible {
  background-color: color-mix(in srgb, var(--button-bg), var(--body) 15%);
  box-shadow: var(--focus-shadow);
}
.button.icon-only {
  height: 20px;
  width: 20px;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}
.button.primary {
  --button-bg: var(--A300);
  color: var(--background);
}
.button.outline {
  border: 1px solid var(--N200);
}
