.button {
  all: unset;
  border-radius: var(--border-radius);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-1);
  padding: var(--size-1) var(--size-2) var(--size-1) var(--size-2);
  user-select: none;
  --button-bg: transparent;
  background-color: var(--button-bg);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.button:hover {
  cursor: pointer;
  background-color: color-mix(in srgb, var(--button-bg), var(--body) 15%);
}
.button:focus-visible {
  background-color: color-mix(in srgb, var(--button-bg), var(--body) 15%);
  box-shadow: var(--focus-shadow);
}
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.button.icon-only {
  height: 20px;
  width: 20px;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}
.button.small {
  font-size: 12px;
  padding-block: 0;
  padding-inline: var(--size-1);
}
.button.primary {
  --button-bg: var(--A300);
  color: white;
}
.button.outline {
  border: 1px solid var(--N200);
}
.button[data-state='on'] {
  background-color: color-mix(in srgb, var(--button-bg), var(--body) 15%);
}
